<template>
    <div id="pass-modal">
        <div class="modal-overlay" :class="overlay"></div>
        <div class="modal" :class="visible" style="display: block; margin-top: -107px;">
            <div class="modal-inner">
                <div class="modal-title">Framework7</div>
                <div class="modal-text">What is your name?</div>
                <div class="input-field">
                    <input type="text" class="modal-text-input" v-model="email">
                </div>
            </div>
            <div class="modal-buttons modal-buttons-2 ">
                <span class="modal-button" @click="btnCancel">Cancel</span>
                <span class="modal-button modal-button-bold" @click="btnSend">Send</span>
            </div>
        </div>
    </div>
</template>
<script>
    let self;
    export default {
        data () {
            return {
                email:'',
                overlay:'modal-overlay-visible',
                visible: 'modal-in'
            }
        },
        methods: {
            btnCancel () {
                this.overlay = '';
                this.visible = 'modal-out';
                console.info(this.email);
            },
            btnSend () {
                self.overlay = '';
                self.visible = 'modal-out';
                console.log(self.email);
                this.$emit('closeModal', self.email);
            }
        },
        created () {
            self = this;
        }
    }
</script>

