<template>
    <div id="app">
        <f7-login-screen :opened="true">
            <pass-modal v-if="showPassModal" @closeModal="resetPassModal"></pass-modal>
            <f7-view>
                <f7-pages>
                    <f7-page login-screen>
                        <f7-login-screen-title centered>Welcome to</f7-login-screen-title>
                        <figure class="centered"><img src="/storage/tidy-paws-logo.png" width="150"></figure>
                        <f7-list form class="login-form" id="reset-pass-form">
                            <f7-list-item class="form-f">
                                <f7-label>User Email</f7-label>
                                <f7-input name="user-email" type="email" placeholder="Type your e-mail"></f7-input>
                            </f7-list-item>
                            <f7-list-item class="form-f">
                                <f7-label>Password</f7-label>
                                <f7-input name="password" type="password" placeholder="Enter your password"></f7-input>
                            </f7-list-item>
                            <f7-list-item checkbox name="remember-me" value="1" title="Remember me"></f7-list-item>
                            <f7-list-item class="form-f">
                                <f7-button big raised class="sign-in-btn" close-login-screen>Sign In</f7-button>
                            </f7-list-item>
                        </f7-list>
                        <f7-block class="forgot-pass">
                            <f7-link href="#" @click="showPassModal = true">Forgot password?</f7-link>
                        </f7-block>
                        <f7-block class="copyright">
                            <f7-label class="padd-after">&copy; 2017</f7-label>
                            <f7-link href="http://tidypawsonline.com/" external class="padd-after">Tidy Paws</f7-link>
                            <f7-label class="padd-after"> &#124; Powered by</f7-label>
                            <f7-link href="http://xhavia.com/" external>Xhavia</f7-link>
                        </f7-block>
                    </f7-page>
                </f7-pages>
            </f7-view>
        </f7-login-screen>
        <div class="panel-overlay"></div>
        <div class="panel panel-left panel-cover">
            <f7-list media-list class="tech-logout">
                <f7-list-item media="<img src='/storage/technician-account-image.png' width='60'>"
                              title="Emilio Perez" text="Technician"
                              after="<a href='/login/' class='link icon-only'><span><i class='icon ion-log-out size-24'></i></span></a>">
                </f7-list-item>
            </f7-list>
            <f7-list class="menu-options">
                <f7-list-button href="#"><f7-icon ion="android-person size-24"></f7-icon>User Profile</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="information-circled size-24"></f7-icon>Truck Info</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="android-list size-24"></f7-icon>Service Log</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="map size-24"></f7-icon>Service Map View</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="cube size-24"></f7-icon>Request Inventory</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="android-stopwatch size-24"></f7-icon>Stop Registration</f7-list-button>
                <f7-list-button href="#"><f7-icon ion="help-circled size-24"></f7-icon>Help Center</f7-list-button>
            </f7-list>
        </div>
        <f7-views navbar-through="">
            <f7-view main="" url="/" :dynamic-navbar="true">
                <f7-pages id="pages">
                    <f7-page class="navbar-fixed toolbar-fixed">
                        <f7-navbar class="nav-main-top app-blue">
                            <!--<f7-nav-left></f7-nav-left>-->
                            <f7-nav-center><img src="/storage/tidy-paws-logo.png" width="60"></f7-nav-center>
                            <f7-nav-right><a href="#" class="open-panel link icon-only"><i class='icon ion-android-menu size-24'></i></a></f7-nav-right>
                        </f7-navbar>
                        <f7-list media-list>
                            <f7-list-group class="users-list">
                                <f7-list-item title="Users" group-title></f7-list-item>
                                <f7-list-item v-for="user in users" :key="user.id" :title="user.fullname" :subtitle="user.mailto_html"
                                              :text="user.dateDiff" :media="user.avatar_html"></f7-list-item>
                            </f7-list-group>
                        </f7-list>
                        <f7-toolbar bottom class="footer-toolbar app-green">
                            <f7-link><i class='icon ion-android-list size-30'></i></f7-link>
                            <f7-link><i class='icon ion-map size-30'></i></f7-link>
                            <f7-link href="/home/"><i class='icon ion-ios-paw size-30'></i></f7-link>
                            <f7-link><i class='icon ion-android-stopwatch size-30'></i></f7-link>
                            <f7-link><i class='icon ion-help-circled size-30'></i></f7-link>
                        </f7-toolbar>
                    </f7-page>
                </f7-pages>

            </f7-view>
        </f7-views>
    </div>
</template>

<script type="text/babel">
    import store from './store.js';
    import {HTTP} from './http-commons.js';
    import helper from './helper.js';
    import PassModal from './forgot-pass.vue';

    let self;

    function addUsersData(users) {
        for (let user of users) {
            user.fullname = user.first_name + ' ' + user.last_name;
            user.mailto_html = '<a href="mailto:' + user.email + '" >' + user.email + '</a>';
            user.avatar_html = '<img src="http://tidypaws.dev/images/default_user.jpg" title="' + user.avatar + '"/>';

            let now = new Date();
            let dateParts = user.created_at.split("-");
            let createdAt = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2), dateParts[2].substr(3, 2), dateParts[2].substr(6, 2), dateParts[2].substr(9, 2));
            let timeDiff = helper.dateDiff(createdAt, now);
            user.dateDiff = timeDiff + ' ago';
        }
    }
    export default {
        name: 'home',
        data () {
            return {
                users: store.users,
                showPassModal: false,
                showPichi: true
            }
        },
        components: {
            'pass-modal': PassModal
        },
        mounted () {
            HTTP.get('users')
                .then(function (response) {
                    let result = response.data;
                    console.log(result);
                    store.users = result;
                    self.$data.users.length = 0;
                    self.$data.users.push(...result);
                    addUsersData(self.$data.users);
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        created () {
            self = this;
        },
        methods: {
            resetPassModal (value) {
                console.info(value);
                self.showPassModal = false;
            }
        }
    }

</script>

<style rel="stylesheet/sass" lang="sass?indentedSyntax" type="text/css">
    .centered
        text-align: center

    .app-blue
        background-color: #0F79BD

    .app-green
        background-color: #17967F

    .size-24
        font-size: 24px

    .size-30
        font-size: 30px

    .button.button-big
        height: 55px
        line-height: 58px
        margin-top: 10px

    .users-list
        .item-media
            img
                border-radius: 50%
                box-shadow: 1px 1px 0px rgba(0,0,0,0.5)
                width: 50px
                height: auto

    .tech-logout
        margin: 0 0 15px
        background: #F7F7F7
        .item-inner
            span
                i
                    color: #EA5B5B
                    line-height: 2.4

    .menu-options
        margin: 0

    .menu-options
        ul:after ,ul:before
            height: 0
        ul
            i
                padding: 0 15px 0 18px
                color:

    .nav-main-top
        img
            vertical-align: middle

    .list-block
        .item-link.list-button
            font-size: 14px

    .footer-toolbar
        a
            i
                opacity: 0.7
        a:active
            i
                opacity: 1

    .login-screen .login-screen-content
        background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0, #1FB288),color-stop(1, #088A79))
        background-image: -o-linear-gradient(right bottom, #1FB288 0%, #088A79 100%)
        background-image: -moz-linear-gradient(right bottom, #1FB288 0%, #088A79 100%)
        background-image: -webkit-linear-gradient(right bottom, #1FB288 0%, #088A79 100%)
        background-image: -ms-linear-gradient(right bottom, #1FB288 0%, #088A79 100%)
        background-image: linear-gradient(to right bottom, #1FB288 0%, #088A79 100%)
        color: white

    .login-screen .login-screen-title
        font-size: 28px

    .login-form
        padding: 0 15px

    .form-f .item-content .item-inner .item-title
        color: white
        text-transform: uppercase

    .login-form .item-content.label-checkbox .item-media i
        border: 1px solid rgba(255,255,255,.7)

    .login-form .item-content.label-checkbox .item-inner
        padding-top: 15px
        margin-left: 0px
        color: rgba(255,255,255,.7)
        font-size: 15px

    .form-f .item-content.label-checkbox .item-inner .item-title
        text-transform: inherit

    .login-form
        .item-content .item-inner
            .item-input-field.focus-state:after, .item-input-field.not-empty-state:after
                background: white
            .input-field:after
            .item-input-field:after
                background-color: rgba(255,255,255,.7)
        input[type=email], input[type=password]
            color: white
            font-weight: 300
            font-size: 15px
        input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder
            color: rgba(255,255,255,.7)
        input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder
            color: rgba(255,255,255,.7)
        .sign-in-btn
            background-color: #8DC63E
            color: white
            font-size: 20px
            font-weight: 400

    .login-screen
        .forgot-pass, .copyright
            font-size: 15px
            text-align: center
        .forgot-pass a, .copyright a
            color: #FFD800

    .login-screen .copyright
        display: flex
        justify-content: center
        margin-top: 10vh
        position: relative

    .padd-after
        padding-right: 5px
</style>
