<template>

  <f7-page hide-bars-on-scroll="">
    <f7-navbar back-link="Back" title="The Tweet" sliding=""></f7-navbar>
    <div class="card facebook-card">
      <div class="card-header">
        <div class="facebook-avatar">
          <img :src="tweet.user.profile_image_url" width="35" height="35">
        </div>
        <div class="facebook-name">
          {{tweet.user.name}}</div>
        <div class="facebook-date">
          {{tweet.dateDiff}} by {{tweet.user.screen_name_at}}
        </div>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p>{{tweet.text}}</p>
          <img v-if="tweet.entities.media" :src="tweet.entities.media[0].media_url" width="100%">
          <p class="color-gray">Likes: 112    Comments: 43</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="link">Like</a>
        <a href="#" class="link">Comment</a>
        <a href="#" class="link">Share</a>
      </div>
    </div>

    <f7-block-title>Google Map</f7-block-title>
    <f7-block>
      <div id="map">
      </div>
    </f7-block>

    <div id="customer-to-visit">
      <f7-swiper v-if="markers.length > 0" :params="{onSlideChangeEnd: swiperEvent}">
        <f7-swiper-slide v-for="marker in markers" :key="marker.index">
          <f7-card>
            <f7-card-header>{{marker.title}}</f7-card-header>
            <f7-card-content>Testing</f7-card-content>
            <f7-card-footer>
              <a href="#" v-on:click="mapCenter(marker)" class="pan-to-marker" :data-marker-index="marker.index" :data-marker-lat="marker.lat" :data-marker-lng="marker.lng">
                GO
              </a>
            </f7-card-footer>
          </f7-card>
        </f7-swiper-slide>
      </f7-swiper>
    </div>

    <!--<ul id="markers-with-coordinates">
      <li v-if="markers.length > 0" v-for="marker in markers">
        <a href="#" v-on:click="mapCenter(marker)" class="pan-to-marker" :data-marker-index="marker.index" :data-marker-lat="marker.lat" :data-marker-lng="marker.lng">
          {{marker.title}}
        </a>
      </li>
    </ul>-->
  </f7-page>
</template>

<script>
  import store from './store.js';
  let map;
  let self;
  let swiperObj;

  function initMap() {
      return new GMaps({
          div: '#map',
          lat: 36.159061,
          lng: -86.782224
      });
  }

  export default {
    name: 'tweet',
    data () {
      return {
        tweet: store.selectedTweet,
        markers: [
            {
                index: 0,
                title: 'Titulo #1',
                lat: 36.16033017416435,
                lng: -86.78675651550293
            },
            {
                index: 1,
                title: 'Titulo #2',
                lat: 36.14955374389757,
                lng: -86.77916049957275
            },
            {
                index: 2,
                title: 'Titulo #3',
                lat: 36.16362171447279,
                lng: -86.76843166351318
            }
        ]
      }
    },
    created () {
        self = this;
    },
    mounted () {
        map = initMap();

        for(let i = 0; i < self.markers.length; i++) {
            map.addMarker({
                lat: self.markers[i].lat,
                lng: self.markers[i].lng,
                title: self.markers[i].title,
                infoWindow: {
                    content : 'Example'
                }
            });
        }

        map.setCenter(self.markers[0].lat, self.markers[0].lng);

        /*GMaps.on('marker_added', map, function(marker) {
            let m = {
                index: map.markers.indexOf(marker),
                title: marker.title,
                lat: marker.getPosition().lat(),
                lng: marker.getPosition().lng()
            };
            self.markers.push(m);
            console.log(self.markers);
        });

        GMaps.on('click', map.map, function(event) {
            var index = map.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();

            map.addMarker({
                lat: lat,
                lng: lng,
                title: 'Marker #' + index,
                infoWindow: {
                    content : 'Example'
                }
            });
        });*/


    },
    methods: {
        mapCenter: function (marker) {
            let lat, lng;
            var $index = marker.index;
            var $lat = marker.lat;
            var $lng = marker.lng;

            if ($index != undefined) {
                var position = map.markers[marker].getPosition();
                lat = position.lat();
                lng = position.lng();
            } else {
                lat = $lat;
                lng = $lng;
            }
            map.setCenter(lat, lng);
        },
        swiperEvent: function(swiper) {
            let lat, lng;
            var $index = swiper.activeIndex;
            var position = map.markers[$index].getPosition();
            lat = position.lat();
            lng = position.lng();
            map.setCenter(lat, lng);
        }
    }
  }
</script>

<style rel="stylesheet/sass" lang="sass?indentedSyntax" type="text/css">
  #map
    width: 100%
    height: 400px
    background-color: lightgray

  .facebook-card .card-header
    display: block
    padding: 10px
  
  .facebook-card .facebook-avatar 
    float: left
    img 
      border-radius: 50%
  
  .facebook-card .facebook-name 
    margin-left: 44px
    font-size: 14px
    font-weight: 500
  
  .facebook-card .facebook-date 
    margin-left: 44px
    font-size: 13px
    color: #8e8e93
  
  .facebook-card .card-footer 
    background: #fafafa
  
  .facebook-card .card-footer a 
    color: #81848b
    font-weight: 500
  
  .facebook-card .card-content img 
    display: block
  
  .facebook-card .card-content-inner 
    padding: 15px 10px
  
</style>
